{% extends "layout.html" %}

{% block content %}

    <form id="crispr-offinder" class="col-md-12 col-md-offset-1 form-horizontal" role="form" action="{% url 'tasks-list' %}"
          method="post">

        {% csrf_token %}

        <div class="row">
            <h4>sgRNA design parameter</h4>
        </div>

        <br>
        <br>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="fasta_seq">Fasta-Seq: </label>
                </div>
                <div class="col-md-8">
                    <textarea id="fasta_seq" name="fasta_seq" value="{{ fasta_seq }}"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="pam_seq">PAM-Seq: </label>
                </div>
                <div class="col-md-8">
                    <input id="pam_seq" type="text" name="pam_seq" value="{{ pam_seq }}">
                </div>
            </div>

            <hr>

        </div>

        <input id="method" name="method" value="pcr" type="hidden"/>
        <input type="submit" value="OK">
    </form>


{% endblock content %}
