{% extends "layout.html" %}

{% block content %}

    <form id="design" class="col-md-12 col-md-offset-1 form-horizontal" role="form" action="{% url 'tasks-list' %}"
          method="post">

        {% csrf_token %}

        <div class="row">
            <h4>sgRNA design parameter</h4>
        </div>

        <br>
        <br>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="dna_sequence">DNA sequence: </label>
                </div>
                <div class="col-md-8">
                    <input id="dna_sequence" type="text" name="dna_sequence" value="{{ dna_sequence }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="genome">Genome: </label>
                </div>
                <div class="col-md-8">
                    <input id="genome" type="text" name="genome" value="{{ genome }}">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <label for="length_of_protospacer">Length of protospacer: </label>
                </div>
                <div class="col-md-8">
                    <input id="length_of_protospacer" type="text" name="length_of_protospacer"
                           value="{{ length_of_protospacer }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="pam_sequence">Pam sequence: </label>
                </div>
                <div class="col-md-8">
                    <input id="pam_sequence" type="text" name="pam_sequence" value="{{ pam_sequence }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="dna_direction">DNA direction: </label>
                </div>
                <div class="col-md-8">
                    <input id="dna_direction" type="text" name="dna_direction" value="{{ dna_direction }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="location">Location: </label>
                </div>
                <div class="col-md-8">
                    <input id="location" type="text" name="location" value="{{ location }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="gc_content">GC content: </label>
                </div>
                <div class="col-md-8">
                    <input id="gc_content" type="text" name="gc_content" value="{{ gc_content }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="mismatches_number">Mismatches number: </label>
                </div>
                <div class="col-md-8">
                    <input id="mismatches_number" type="text" name="mismatches_number" value="{{ mismatches_number }}">
                </div>
            </div>
        </div>

        <input id="method" name="method" value="pcr" type="hidden" />
        <input type="submit" value="OK">
    </form>


{% endblock content %}
