{% extends "layout.html" %}

{% block content %}
    <form action="#" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.as_p }}
        </div>

        <div class="row">
            <div class="col-md-6"><input type="submit" value="登录"></div>
            <div class="col-md-6"><a href="{% url 'findpwd' %}">找回密码</a></div>
        </div>

        {% if msg %}
            <div>{{ msg.msg }}</div>
        {% endif %}
    </form>




{% endblock content %}