{% extends "layout.html" %}

{% block content %}
        <form action="#" enctype="multipart/form-data" method="post">
        {% csrf_token %}
            {{ form.as_p }}
{#        <input type="text">用户名#}
{#        <br>#}
{#        <input type="password">密码#}
{#        <br>#}
        <input type="submit" value="登录">
            <a href="{% url 'changepwd' %}">修改密码</a>
            <a href=>找回密码</a>
        {% if msg %}
            <div>{{ msg.msg }}</div>

        {% endif %}
    </form>
{% endblock content %}