{% extends "layout.html" %}

{% block content %}

    <table class="gridtable">
        <thead>
        <tr>
            <td>task_id</td>
            <td>status</td>
            <td>started_at</td>
            <td>finished_at</td>
            <td>cmd</td>
            <td>rc</td>
            <td>msg</td>
            <td>submitter</td>
        </tr>
        </thead>
        <tbody>
        {% for i in tasks %}
            <tr>
                <td> {{ i.id }}</td>
                <td> {{ i.status }}</td>
                <td> {{ i.started_at }}</td>
                <td> {{ i.finished_at }}</td>
                <td> {{ i.cmd }}</td>
                <td> {{ i.rc }}</td>
                <td> {{ i.msg }}</td>
                <td> {{ i.submitter }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
